# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

language: generic

os: osx
osx_image: xcode9.4


env:
  matrix:
    - CONFIG=osx_

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "ZchoQHCSftzP6hfJQWt4oppArYcORivYlYym2qZe6wyUcgiyCnfbvdd2n1/W26L43CTcTUfF8nO8IZleyzCEEeH96F+xPOykymS1SybkDZJnw6krID8vgU6yl6Hy38yMhP/o66pmtREri0D+ETkEioCorKTwP8sbZU6Kxp6qT5cAi+ifGJvaH2AvEG/kzhNgWWugH4qNi4D+L8J1qWqeoixLz8xkvN2ZDOpTxaU7YU0EpVME0hj2r024ksMn7UvsYaM2iGg+Xw5llwib1U05d6TNLDA4GOWig5d9Qqpfe0Iy5b9Eo331pVEQB8r+2Xtd1+3q7YvFfPeCaI4FYMH5bkgXwoj2egvOyrTUqod6gKdQlNEaKMW/9Gwr6vh+7he9zykcNW3eNf0QHrKw9swx+vWYMYKEPsStNsNi1mepDTl4LX8dv0FLcd/vvxB2PvsZ3aOb1uNPUQvVMFxFXT/1uuEB4suT7BeeS501hLkg+almajLT6+/xz/5N2+ylzWDWFwL9bqrd3iAb1qK+UTcv/ef9PynbPzLwxo9MJZ8iGOcwtt640JDDh0CCpuL1yibiCcxrssBu7R66JrJ5Dn78rlYsW9uyN4uJkocdv91+PjdmyvMxXE3krBN5We+sGIjGU6yQ5vDSpus1lHI8qJntAN4gmIQih66eUQN4FKkqEA8="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/master/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install -n root -c conda-forge --quiet --yes conda-forge-ci-setup=2 conda-build
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  -  conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml